.Full_Page{
    width: 90vw;
    margin-left: 4vw;
    margin-right: 5vw;
    height: 50vh;
    display: block;
}
.PFull_Page{
    width: 98.5vw;
    overflow-x: hidden;
    height: 70vh;
    display: block;
}
.Blck{
    display: block;
    width: 98.5vw;
    height: fit-content;
}

.Half_PG{
    width: 40vw;
    margin-right: 1vw;
    margin-left: 1vw;
    height: 50vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    align-items: center;
    text-align: center;

}
.RT_PG{
    margin-left: 2vw;
    margin-right: 14vh;
    float: right;
}
.LT_PG{
    margin-left: 8vw;
    margin-right: 2vh;
}
.BT_PG{
    margin-left: 1vw;
    margin-right: 1vh;
}
.SameLine{
    display: flex;
    flex-direction: row;
    margin-left: 16vw;
  }
  
.Title{
    font-size: larger;
    color: orangered;
    font-weight: bolder;
}
.Sub_Title{
    font-size: large;
    color: black;
    font-weight: bold;
}
.Text{
    font-size: medium;
    color: black;
    font-weight: normal;
}
.Button{
    background-color: green;
    width: fit-content;
    height: 4vh;
}