.Terrain_Infos{  
  flex-direction: row;  
  width: 70vw;  
  height: 57.25vh;  
  display: block;  
  margin-left: 10vw;  
  margin-right: 10vw;  
  border: 1px groove ;  
  margin-top: 1vw;  
  margin-bottom: 2vw;  
  align-items: center;  
  align-content: center;  
  }  
  .Title{  
  font-size: larger;  
  font-weight: bolder;  
  }  
  .Maps{  
  font-size: medium;  
  font-weight: bolder;  
  color: blue;  
  }  
  .Location{  
  font-weight: lighter;  
  float: right;  
  font-size: small;  
  margin-top: 1vw;  
  color: red;  
  }  
  .Left{  
  float: left;  
  position: relative;  
  top: 50%;  
  left: 50%;  
  transform: translate(-110%, -50%);  
  }  
  .HalfBlock{  
  height: 45.8vh;  
  width: 30vw;  
  }  
  .Right{  
  float: right;  
  position: relative;  
  top: 50%;  
  transform: translate(-10%, -50%);  
  }  
  .Image{  
  width: 30vw;  
  height: 45.8vh;  
  }  
  a{  
  color: black;  
  }  
  a:hover{  
  color: rgb(255, 106, 0);  
  cursor:pointer;  
  }  
  .Rating{  
  height: 4.58vh;  
  width: 2vw;  
  }  
  .Comment{  
  width: 17vw;  
  height: 38.93vh;  
  margin-left: 1vw;  
  margin-top: 1vw;  
  border-radius: 8%;  
  background-color: rgb(205,233,218);  
  padding:1vw;  
  white-space-collapse:preserve;  
  }  
  .Profile_Comment{  
  height: 11.45vh;  
  width: 5vw;  
  float: left;  
  margin-left: 1vw;  
  border-radius: 8%;  
  margin-right: 1vw;  
  }  
  .Comment_Name{  
  font-weight: bolder;  
  font-size: large;  
  }  
  .Comment_Content{  
  margin-top: 2vw;  
  height: 20.61vh;  
  font-size: small;  
  }  
  .Comment_Date{  
  color: red;  
  font-weight: light;  
  font-size:small;  
  float: left;  
  }  